---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Image } from "astro:assets";
// import { projectList } from "../content/_projects";

// Filter blog entries with 'draft: false' & date before current date
const projectEntires = await getCollection("project", ({ data }) => {
  return data;
});

// Sort content entries by publication date
// projectEntires.sort(function (a, b) {
//   return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
// });
---

<Layout title="Projects">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Recent Projects</Fragment>
      <Fragment slot="desc">A collection of our projects.</Fragment>
    </Sectionhead>
    <main class="mt-16 px-5">
      <div class="m-8 md:m-16">
        <ul class="grid gap-16 max-w-4xl mx-auto">
          {
            projectEntires.map((blogPostEntry, index) => (
              <li>
                <a href={`/projects/${blogPostEntry.slug}`}>
                  <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                    <Image
                      src={blogPostEntry.data.image.src}
                      alt={blogPostEntry.data.image.alt}
                      width={200}
                      height={200}
                      sizes="(max-width: 800px) 100vw, 800px"
                      loading={index <= 2 ? "eager" : "lazy"}
                      class="w-full rounded-md object-cover object-center"
                    />
                    <div>
                      <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                        {blogPostEntry.data.title}
                      </h2>

                      <div class="flex gap-2 mt-3">
                        <span class="text-gray-400">• </span>
                        <span class="text-gray-400">
                          {blogPostEntry.data.publishDate}
                        </span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
        <!-- <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
          {
            projectList.map((item) => (
              <div class="p-4 border rounded h-fit hover:-translate-y-1 transition">
                <a href={item.link}>
                  <Image
                    src={item.img}
                    alt={item.alt}
                    widths={[200, 400, 600]}
                    sizes="(max-width: 800px) 100vw, 800px"
                    formats={["avif", "jpeg", "png", "webp"]}
                    aspectRatio="2:1"
                    class="rounded w-full h-full object-cover overflow-hidden mb-2"
                  />
                  <h3 class="mt-4 text-md md:text-lg font-bold">
                    {item.title}
                  </h3>
                  <div class="flex justify-between text-xs md:text-sm">
                    <p>{item.location}</p>
                    <p>{item.date}</p>
                  </div>
                </a>
              </div>
            ))
          }
        </div> -->
      </div>
    </main>
  </Container>
</Layout>
