---
// @ts-ignore
import Check from "/check.svg";

const features = [
  {
    img: "/check.svg",
    size: "width: 35px; height: 35px",
    title: "100% Recommended",
    description: "Highly rated for Quality, Value, and Customer Service",
    link: false,
  },
  {
    img: "/star.svg",
    size: "width: 35px; height: 35px",
    title: "16 Years in Business",
    link: false,
    description:
      "Proven Industry Workers: Leading the Way in Contracting Services for Over a Decade",
  },
  {
    img: "/homeadvisor.png",
    size: "width: 35px; height: 35px",
    title: "HomeAdvisor Screened and Approved",
    link: false,
    description:
      "California Design Solutions has passed the HomeAdvisor screening process",
  },
  {
    img: "/bzscore.png",
    size: "width: 35px; height: 35px",
    title: "112 BuildZoom Score",
    link: false,
    description:
      "97th Percentile above other contractors in California. Their BuildZoom score of 112 ranks in the top 3% of 336,931 California licensed contractors",
  },
  {
    img: "/paper.svg",
    size: "width: 30px; height: 30px",
    title: "127 Permitted Projects",
    link: false,
    description:
      "Building permit records show that California Design Solutions has worked on 127 permitted projects",
  },
  {
    img: "/verified.png",
    size: "width: 45x; height: 35px",
    title: "Verified License",
    description: "See our license info",
    link: true,
    to: "/about",
  },
];
---

<!-- <div class="flex flex-col gap-3 mx-auto max-w-4xl m-16 text-center">
  <h2 class="font-bold text-3xl text-gray-800">Why Us</h2>
</div> -->
<div class="grid sm:grid-cols-1 md:grid-cols-3 auto-rows-fr p-4 gap-4">
  {
    features.map((item) => (
      <>
        <div class="flex border p-4 rounded-lg shadow-sm hover:shadow-slate-300 transition">
          <div class="flex gap-4 items-start">
            <div>
              <div class="flex items-center">
                <img src={item.img} class="mr-2" style={item.size} />
                <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
              </div>
              {!item.link && (
                <p class="text-slate-600 mt-2 leading-relaxed">
                  {item.description}
                </p>
              )}
              {item.link && (
                <a
                  class="text-slate-500 mt-2 leading-relaxed underline"
                  href={item.to}>
                  {item.description}
                </a>
              )}
            </div>
          </div>
        </div>
      </>
    ))
  }
</div>
