---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const projectEntires = await getCollection("project", ({ data }) => {
  return data;
});

let projectEntiresSliced = projectEntires.slice(0, 6);

// Sort
//projectEntiresSliced.sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<div class="m-8 md:m-16">
  <div class="grid grid-cols-1 md:grid-cols-3 auto-rows-fr gap-4">
    {
      projectEntiresSliced.map((blogPostEntry) => (
        <a href={`/projects/${blogPostEntry.slug}`} class="**block** h-full">
          {" "}
          {/* <-- CRITICAL FIX HERE */}
          <div class="p-4 border rounded h-full hover:-translate-y-1 transition flex flex-col">
            {/* IMAGE CONTAINER FIX: Gives a consistent height */}
            <div class="h-80 w-full rounded overflow-hidden mb-2">
              <Image
                src={blogPostEntry.data.image.src}
                alt={blogPostEntry.data.image.alt}
                width={400}
                height={800}
                class="h-full w-full object-cover"
              />
            </div>

            <h3 class="mt-4 text-md md:text-lg font-bold">
              {blogPostEntry.data.title}
            </h3>

            {/* mt-auto pushes this content to the bottom of the available space */}
            <div class="flex justify-between text-xs md:text-sm mt-auto">
              <p>{blogPostEntry.data.publishDate}</p>
            </div>
          </div>
        </a>
      ))
    }
  </div>
  <div class="my-16 flex w-full items-center justify-center">
    <a
      class="text-base leading-relaxed text-slate-900 border w-fit px-8 py-2 bg-slate-100 rounded"
      href="/projects">View All Projects</a
    >
  </div>
</div>
