---
import Star from "/star.svg";
const {
    stars = "",
    date = "",
    name = "",
    location = "",
    title = "",
    description = "",
    ...rest
} = Astro.props;
---

<hr />
<div {...rest} class="flex flex-col gap-1 p-4 rounded shadow-sm">
    <div class="flex justify-between">
        <div class="flex gap-4">
            <div class="flex gap-1">
                <img src={Star} />
                {stars}
            </div>
            <span class="font-bold">
                {name}
            </span>
            <span class="text-slate-900">
                {location}
            </span>
        </div>
        <span class="text-slate-700">{date}</span>
    </div>
    <div class="text-cyan-500">{title}</div>
    <div class="text-slate-500">{description}</div>
</div>
<hr />
